{% extends "baseFrontOffice.html.twig" %}

{% block title %}Edit  Product Exchange  Form{% endblock %}

{% block body %}
    <h1>Edit  Product Exchange Form</h1>

    {{ include('echange_produit/_form.html.twig', {'button_label': 'Update'}) }}
    

    

{% endblock %}
