<!DOCTYPE html>

<title>Edit EchangeService</title>

{% block body %}
    <h1>Edit EchangeService</h1>

    {{ include('echange_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_echange_service_index') }}">back to list</a>

    {{ include('echange_service/_delete_form.html.twig') }}
{% endblock %}
