<!DOCTYPE html>

<title>New EchangeService</title>

{% block body %}
    <h1>Create new EchangeService</h1>

    {{ include('echange_service/_form.html.twig') }}

    <a href="{{ path('app_echange_service_index') }}">back to list</a>
{% endblock %}
